
/* p2014e page */
#about {
    padding-bottom: 20px;
}

#about-text {
    padding-top: 20px;
}

#contact-head {
    margin-bottom: 20px;
}

#contact-pycon-form .form-group label{
    display:none;
    font-size:18px;
    line-height:24px;
    font-weight:400;
    text-transform:uppercase;
}

#contact-pycon-form.no-placeholder .form-group label{
    display:block;
}

#contact-pycon-form .form-control {
    border-color: #7A539B;
    margin-bottom:30px;
    height:68px;
    font-size:30px;
    line-height:48px;
    font-weight:300;
    color:#7A539B;
    padding-left:64px;
}

#contact-pycon-form .form-group{
    position:relative;
}

#contact-pycon-form .form-group [class*="icon-"] {
    display:block;
    width:64px;
    position:absolute;
    top:0;
    left:5px;
    color:#7A539B;
    font-size:32px;
    line-height:68px;
    text-align:center;
    font-weight:300;
}

#contact-pycon-form.no-placeholder .form-group [class*="icon-"]{
    top:30px;
}

#contact-pycon-form textarea.form-control {
    height:auto;
    max-width:100%;
    min-width:100%;
    font-size:30px;
    line-height:42px;
    padding-top:14px;
}

#contact-pycon-form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c5b1d5;
}

#contact-pycon-form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c5b1d5;
    opacity:1;
}

#contact-pycon-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c5b1d5;
    opacity:1;
}

#contact-pycon-form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c5b1d5;
}

#contact-pycon-form .error-message {
    color: #FFFFFF;
    background:#7A539B;
    padding:10px 20px;
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:16px;
    font-weight:400;
}

#main-nav {
    background: #FFFFFF;
}

#main-nav .container {
    padding: 15px 20px;
}

#main-nav.scrolled .nav a, #main-nav.scrolled .nav a:active, #main-nav.scrolled .nav a:hover {
    color: #7A539B;
}

#main-nav .nav a, #main-nav .nav a:active, #main-nav .nav a:hover {
    color: #7A539B;
}

#main-nav .nav a:hover:before,
#main-nav .nav li.active a:before {
	color: #7A539B;
	text-shadow: 12px 0 #7A539B, -12px 0 #7A539B;
}
